<h2> Edit Store Inventory </h2>

<form method='post' action='/books/<%= @book.id %>'>
  <label for='title'>Title:</label>
  <input id='title' type='text' name='title' value='<%= @book.title %>'/>

  <label for="genre">Genre:</label>
  <select id="genre" name="genre">
    <% ["Children's", "Crime", "Drama", "Fantasy", "Fiction", "Non-fiction", "Poetry", "Science Fiction"].each do |genre_str|  %>
      <option value="<%= genre_str %>" ><%=  genre_str  %></option>
    <% end %>
  </select>

  <label for="author-select">Author:</label>
  <select id="author-select" name="author_id">
    <% @authors.each do |author_obj|  %>
      <option value="<%= author_obj.id %>" ><%=  author_obj.name %></option>
    <% end %>
  </select>

  <label for='stock'>Stock:</label>
  <input id='stock' type='number' name='stock' value='<%= @book.stock %>'/>

  <input type='submit' value='Edit'/>

</form>
