<h2> Store Inventory </h2>

<hr/>

  <% @book.each do |book| %>
    <p>Title: <%= book.title %></p>
    <p>Genre: <%= book.genre %></p>
    <p>Author: <%= book.author().name %></p>
    <p>Stock: <%= book.stock %></p>
    <p>Stock Status: <%= book.stock_level_check %> </p>

    <p><a href="/books/<%= book.id %>/edit">Edit</a></p>

    <p>
      <form method="post" action="/books/<%= book.id %>/delete">
        <input type="submit" value="Delete"/>
      </form>
    </p>

    <hr/>
  <% end %>
