<h2> Virgil's Books: Inventory </h2>

  <% @book.each do |book| %>
  <div class="book-details">
    <p>Title: <%= book.title %></p>
    <p>Genre: <%= book.genre %></p>
    <p>Author: <%= book.author().name %></p>
    <p>Price: <%= book.price %></p>
    <p>Stock: <%= book.stock %></p>
    <p>Stock Status: <%= book.stock_level_check %> </p>

    <p>
      <a href="/books/<%= book.id %>/edit" class='editbutton'>Do I dare disturb the universe?</a>
    </p>

    <p>
      <form method="post" action="/books/<%= book.id %>/delete">
        <input type="submit" value="It was a pleasure to burn"/>
      </form>
    </p>
  </div>
<% end %>
